
<p><img class="icon" src="{{ asset('bundles/cmtadmin/images/icon.png') }}" width="60px" alt="Content Managment System" /></p>
<p class="logged-user">connecté en tant que: <span class="username">{{ app.user.username }}</span> | <a href="{{ path('fos_user_security_logout') }}">pas vous ?</a></p>
<h1>Comme Au Potager</h1>
<h2>Administration</h2>
<h3>version: <span class="version">pre-alpha</span></h3>

<p><img class="loader" src="{{ asset('assets/images/icons/ajax-loader.gif') }}" /></p>